@using ReportingApp.Application.DTO;
@model (FailureDto, bool)

@{
    ViewData["Title"] = "Details";
    var failureDto = Model.Item1;
    var accesToEdit = Model.Item2;
}

<h1>Details</h1>

<div>
    <h4>FailureDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Status.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Location.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Location.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Location.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Location.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Location.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Location.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Location.Factory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Location.Factory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Location.Machine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Location.Machine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => failureDto.Location.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => failureDto.Location.Description)
        </dd>
    </dl>
</div>
<hr class="my-auto flex-grow-1" />
<div class="align-self-center justify-content-center">
    <h3>Failure types</h3>
</div>
<hr class="my-auto flex-grow-1" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => failureDto.Id)
            </th>
            <th>
                Category Name
            </th>
            <th>
                Category Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in failureDto.FailureTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (failureDto.FailureSolutions.Any())
{
    <partial name="_FailureSolutions" model="(failureDto.FailureSolutions, failureDto.AnySolutionAccepted)" />
}

<div>
    @if (accesToEdit && failureDto.AnySolutionAccepted)
    {
        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-animation="true" title="You are not able to edit failure with accepted solution!">
            <a class="btn btn-primary btn-sm disabled" href="" )">Edit</a>
        </span>
    }
    else if (accesToEdit && !failureDto.AnySolutionAccepted)
    {
        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Failure", new { failureId = failureDto.Id })">Edit</a>
    }
    <br />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script src="~/js/modal-alert/modal-alert.js"></script>
}