@using ReportingApp.UI.Models.FailureSolutions;
@model FailureSolutionsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FailureDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Status.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Location.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Location.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Location.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Location.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Location.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Location.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Location.Factory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Location.Factory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Location.Machine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Location.Machine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Failure.Location.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Failure.Location.Description)
        </dd>
    </dl>
</div>
<hr class="my-auto flex-grow-1" />
<div class="align-self-center justify-content-center">
    <h3>Failure types</h3>
</div>
<hr class="my-auto flex-grow-1" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Failure.Id)
            </th>
            <th>
                Category Name
            </th>
            <th>
                Category Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Failure.FailureTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Failure.FailureSolutions.Any())
{
    <partial name="~/Views/Solution/_FailureSolutions.cshtml" model="Model" />
}

<div>
    @if (Model.AccesToAddSolution && Model.Failure.AnySolutionAccepted)
    {
        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-animation="true" title="You are not able to edit failure with accepted solution!">
            <a class="btn btn-primary btn-sm disabled" href="" )">Edit</a>
        </span>
    }
    else if (Model.AccesToAddSolution && !Model.Failure.AnySolutionAccepted)
    {
        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Failure", new { failureId = Model.Failure.Id })">Edit</a>
    }
    <br />
</div>
@section Scripts
{
    <script src="~/js/modal-alert/modal-alert.js"></script>
}