@model (ICollection<ReportingApp.Application.DTO.FailureDto>, bool)

@{
    ViewData["Title"] = "Index";
    var accesToEdit = Model.Item2;
}

<h1>Index</h1>

@if (accesToEdit)
{
    <p>
        <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th align="center">
                Id
            </th>
            <th align="center">
                Name
            </th>
            <th align="center">
                Status Name
            </th>
            <th align="center">
                Number of solutions
            </th>
            <th align="center">
                Any solution accepted
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.FailureSolutions.Count)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.AnySolutionAccepted)
                </td>
                <td>
                    @if (accesToEdit)
                    {
                        @if (item.AnySolutionAccepted)
                        {
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-animation="true" title="You are not able to edit failure with accepted solution!">
                                <a class="btn btn-primary btn-sm disabled" href="" )">Edit</a>
                            </span>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Failure", new { failureId = item.Id })">Edit</a>
                        }
                    }

                    <a class="btn btn-primary btn-sm" href="@Url.Action("Details", "Failure", new { failureId = item.Id })">Details</a>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Solutions", "Failure", new { failureId = item.Id })">Solutions</a>

                    @if (accesToEdit)
                    {
                        @if (item.AnySolutionAccepted)
                        {
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-animation="true" title="You are not able to delete failure with accepted solution!">
                                <a class="btn btn-primary btn-sm disabled" href="" )">Delete</a>
                            </span>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Delete", "Failure", new { failureId = item.Id })">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>